a {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none !important;
}

.nav-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.nav-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 70%;
    background-color: rgb(0, 0, 0);
}

.user-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
    cursor: default;
}

.user-div-cart {
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: default;
}


.user-div-p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-out-style {
    cursor: pointer !important;
}

.logo-img-style {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    width: 100px;
}

.nav-menu-style {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.nav-item-style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    border-left: 1px solid rgba(253, 107, 2, 1);
    border-right: 1px solid rgba(253, 107, 2, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav-item-style:hover {
    background-color: rgba(253, 107, 2, 1);
}

.user-div-picture-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.user-div-picture-margin{
    margin-left: 20px;
}
.user-picture-img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.div-logo-style{
    width: 100px !important;
    background-color: rgb(0, 0, 0) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}