h1 {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 0 0 60px 0;
}

h2 {
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 0 20px;
}
.h2-price-style{
    font-size: 30px;
}

h3{
    width: 100%;
    text-align: center;
}

.carousel-style{
    object-fit: contain;
}

.form-style{
    text-align: center;
}

section {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 14px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 14px -2px rgba(66, 68, 90, 1);
}

.section-comment-style{
    flex-direction: column;
}

.div-img-style {
    width: 50%;
    display: flex;
    justify-content: center;
}

.profile-img{
    height: 400px;
}

.template-img-style{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.template-comment-style{
    display: flex;
    flex-direction: column;
}

.comment-p-style{
    color: red;
}
.textarea-style{
    min-height: 100px;
    max-height: 150px;
    width: 1025px;
    resize: vertical;
}

.div-carousel-style{
    width: 100%;
}

.div-offer-style {
    background-color: #FFFFFF;
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*lightning-carousel-image > div > .slds-carousel__panel-action > .slds-carousel__content {*/
/*    display: none;*/
/*}*/
/*lightning-carousel-image > div > .slds-carousel__panel-action > .content-container{*/
/*    display: none;*/
/*}*/


.div-set-offer {
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-results-offer {
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-details-style {
    background-color: #FFFFFF;
    width: 1020px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-review-style {
    background-color: #FFFFFF;
    width: 800px;
    height: 600px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-comment-style {
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
}

:host {
    --sds-c-slider-track-color-background: orange;
    --sds-c-slider-thumb-color-foreground: rgb(0, 0, 0);
}

.div-button-add-to-cart {
    position: relative;
    background: #FD6B02;
    border-radius: 20px;
    text-align: center;
    padding: 0.2em 1em;
    width: fit-content;
    margin: 1em auto;
    color: white;
    cursor: pointer;
}

.div-button-comment{
    position: relative;
    background: #FD6B02;
    border-radius: 20px;
    text-align: right;
    padding: 0.2em 1em;
    width: fit-content;
    margin: 0 0 0 88.5%;
    color: white;
    cursor: pointer;
}

.div-button-add-to-cart:hover, .div-button-comment:hover {
    background-color: rgb(80, 33, 0);
}

.div-wrap {
    width: 100%;
}

.section-gallery-style{
    margin: 100px 0;
}

.img-gallery-style{
    background-position: center;
    height: 250px;
    padding: 0 20px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    text-align: center;
}

table tr {
    background-color: white;
    border: 1px solid white;
}

table th,
table td {
    text-align: center;
}

table td{
    padding-bottom: 3%;
}

table th {
    font-size: .85em;
    padding-top: 3%;
    padding-bottom: 20px;
}


@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid white;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid white;
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
tbody{
    margin-bottom: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background: #dee1e3;
}

.comments-container {
    margin: 60px auto 15px;
    width: 1025px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    width: 100%;
    height: 200px;
    float: right;
    position: relative;
    overflow: auto;
}

.comment-main-level{
    height: fit-content;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 24px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comments-list .comment-box {
    width: 90%;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

.myDIV {
    height: 250px;
    width: 250px;
    overflow: auto;
    background: coral;
}
  
.content {
    margin:500px;
    height: 800px;
    width: 2000px;
    background-color: coral;
}

.value-button {
    display: inline-block;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background: #FD6B02;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFFFF;
    cursor: pointer;
}
.value-button:hover{
    background-color: rgb(80, 33, 0);
}

.input-style {
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
iframe{
    width: 1020px!important;
    height: 1020px!important;
}
p{
    width: 70%;
}
.toast-bar-style{
    background-color: #FD6B02;
}
.custom-carousel-style-whole{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.custom-carousel-style{
    width: 100%;
}
.container{
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
}
img{
    width: 100%;
    object-fit: cover;
    /* min-height: 300px; */
}
.slds-carousel__panel{
    margin: auto 0;
}
.no-borders{
    border: 1px solid transparent;
    overflow: hidden;
}
.slds-carousel{
    border: 1px solid transparent;
    /* overflow: hidden; */
}
.slds-carousel__stage{
    border: 1px solid transparent;
    /* overflow: hidden; */
}
.slds-carousel__panels{
    border: 1px solid transparent;
    /* overflow: hidden; */
}
.slds-carousel__panel{
    border: 1px solid transparent;
    /* overflow: hidden; */
}
.slds-carousel__panel-action{
    border: 1px solid transparent;
    /* overflow: hidden; */
}
.comment-section{
    padding-top: 30px;
}