.div-button-find-car {
    position: relative;
    background: #FD6B02;
    border-radius: 20px;
    text-align: center;
    padding: 0.2em;
    width: 70%;
    margin: 1em auto;
    color: white;
    cursor: pointer;
}
.div-button-find-car:hover {
    background-color: rgb(80, 33, 0);
}

.div-wrap {
    border: 2px solid #FD6B02;
    margin: 0 20px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    margin: .5em 0 .75em;
    text-align: center;
}

table tr {
    background-color: white;
    border: 1px solid white;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid white;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid white;
        display: block;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.search-button {
    color: #FD6B02;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 30%;
}
.search-button:hover{
    background-color: rgb(80, 33, 0);
}