h2 {
    text-align: center;
}

.div-style-bgc {
    width: 100% !important;
    background-color: rgb(0, 0, 0) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.header-div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 20%;
}

.anchor {
    width: 100%;
    height: 100%;
    text-align: center;
}

.input-style {
    height: 34px;
}

.search-button {
    background-color: #FD6B02 !important;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}