.div-button-find-car:hover, .div-button-delete-car:hover {
    background-color: rgb(80, 33, 0);
}
.div-button-delete-car{
    position: relative;
    background: #FD6B02;
    border-radius: 20px;
    text-align: center;
    padding: 0.2em;
    width: 70%;
    margin: 0 auto;
    color: white;
    cursor: pointer;
}