.div-class-orders {
    margin-bottom: 20px;
    height: 300px;
    max-width: 500px;
    display: flex;
    align-items: flex-end;
}
.style-img-orders {
    width: 100%;
    max-height: 300px;
}

.slds-truncate {
    color: rgb(0, 0, 0);
}

h1 {
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
}

h2 {
    font-weight: 700;
    text-align: center;
}

p {
    text-align: center;
}



.style-orders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.layout-orders-style{
    margin-top: 50px;
}

.layout-item-orders-style{
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 24px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 50px;
}
.div-class-order-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.div-class-order-details > * {
    padding: 10px 0;
}

.div-button-report-case {
    width: 150px;
    position: relative;
    border: 2px solid #FD6B02;
    border-radius: 20px;
    text-align: center;
    color: black;
    cursor: pointer;
    margin: 0 auto;
}
.div-button-report-case:hover {
    background-color: #FD6B02;
}
.problem-button{
    color: #000000;
}
.report-problem-button{
    background-color: #FD6B02;
}
.orders-div-style{
    min-height: 80vh;
}